<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stan.mapper.IFriendMapper">

    <insert id="addFriend">
        insert into t_friend(uid,fid,status) values (#{fid},#{tid},1),(#{tid},#{fid},1);
    </insert>
</mapper>


